{% extends "base.html" %}
{% load static packages_tags %}
{% block content %}
    <style>
    .input-box {
        max-width: 300px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        text-align: center;
        margin-top: 10px;
    }
    </style>
    <div class="row">
        <div class="col-md-3">
            <div id="errors-box" class="alert alert-danger mt-2" style="display: none"></div>
            <div class="input-box">
                <div>
                    <small class="text-secondary">Session uuid:</small> <strong id="session-uuid-holder-id">-</strong>
                </div>
                <hr />
                <label for="rows-input-id" class="text-secondary">Rows</label>
                <input type="text"
                       name="rows"
                       id="rows-input-id"
                       class="form-control"
                       placeholder="How many rows?" />
                <label for="cols-input-id" class="text-secondary">Columns</label>
                <input type="text"
                       name="columns"
                       id="cols-input-id"
                       class="form-control"
                       placeholder="How many columns?" />
                <button class="btn btn-primary mt-2 btn-sm" id="render-box-btn">Generate a new box</button>
                <hr />
                <p class="text-secondary mt-2 mb-2">Settings</p>
                <hr />
                <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="rtl"
                           value="false"
                           checked
                           id="ltr-input">
                    <label class="form-check-label" for="ltr-input">Left to right packing</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="rtl"
                           value="true"
                           id="rtl-input">
                    <label class="form-check-label" for="rtl-input">Right to left packing</label>
                </div>
                <small class="text-secondary">
                    Control the direction of packing, weather from right to left or left to right, both will start
                    from the bottom up.
                </small>
                <hr />
                <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="vertical-pov"
                           value="false"
                           checked
                           id="horizontal-input">
                    <label class="form-check-label" for="horizontal-input">Horizontal POV</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="vertical-pov"
                           value="true"
                           id="vertical-input">
                    <label class="form-check-label" for="vertical-input">Vertical POV</label>
                </div>
                <small class="text-secondary">
                    Pack horizontally or vertically, the behaviour of the algorithim will change based on this value.
                </small>
                <hr />
                <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="rotation"
                           value="false"
                           checked
                           id="rotation-off-input">
                    <label class="form-check-label" for="rotation-off-input">Rotation OFF</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="rotation"
                           value="true"
                           id="rotation-on-input">
                    <label class="form-check-label" for="rotation-on-input">Rotation ON</label>
                </div>
                <small class="text-secondary">
                    Rotate the package in 4 positions, 45, 90, 145, 180 degrees to test the fit.
                </small>
                <hr />
            </div>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12">{% render_packages packages %}</div>
                <div class="col-md-12">
                    <h4 class="text-center">Your Box</h4>
                    <div>
                        <table class="table table-bordered">
                            <tbody id="main-box-board-id">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_js %}
    <script>
    $(document).ready(function() {

        var uuid = null

        $("#render-box-btn").click(function() {
            resetValidation()

            let rowsNum = $("#rows-input-id").val()
            let colsNum = $("#cols-input-id").val()
    
            let payload = {
                csrfmiddlewaretoken: "{{ csrf_token }}",
                cols: colsNum, 
                rows: rowsNum, 
            }
            $.ajax({
                url: "{% url 'main:render-box' %}",
                method: "post",
                dataType: "json",
                data: payload,
                success: (data) => {
                    render_box(data)
                    uuid = data.uuid
                },
                error: (error) => {
                    renderValidations(error.responseJSON)
                },
            });
        })


        function render_box(data) {
            let cellSize = 60;
            $("#session-uuid-holder-id").text(data.uuid)
            let $box_container = $("#main-box-board-id")
            $box_container.empty()
            for (row in data.box_matrix) {
                const rowElement = document.createElement('tr');
                for (col in data.box_matrix[row]){
                    // const cellData = data.box_matrix[row][col][0];
                    const cellElement = document.createElement('td');
                    cellElement.style.backgroundColor = data.box_matrix[row][col][1];
                    cellElement.style.width = cellSize + 'px';
                    cellElement.style.height = cellSize + 'px';
                    // cellElement.textContent = cellData;
                    rowElement.append(cellElement);
                }
                $box_container.append(rowElement)
            }
        }


        function renderValidations(errors) {
            let $errorsBox = $("#errors-box")
            $errorsBox.css("display", "block")
            $errorsBox.empty()
            $errorsBox.text(errors.__all__[0])
        }

        function resetValidation() {
            let $errorsBox = $("#errors-box")
            $errorsBox.css("display", "none")
            $errorsBox.text("")
        }

        $(".package-card").on("click", function() {
            
            const rtlValue = $("input[name='rtl']:checked").val();
            const verticalPovValue = $("input[name='vertical-pov']:checked").val();
            const rotationValue = $("input[name='rotation']:checked").val();

            let package_id = $(this).data("id")

            let payload = {
                csrfmiddlewaretoken: "{{ csrf_token }}",
                uuid: uuid,
                package_id: package_id,
                rtl: rtlValue,
                vertical: verticalPovValue,
                rotation: rotationValue,
            }

            $.ajax({
                url: "{% url 'main:place-package' %}",
                method: "post",
                dataType: "json",
                data: payload,
                success: (data) => {
                    render_box(data)
                },
                error: (error) => {
                    renderValidations(error.responseJSON)
                },
            });


        })
    })

    </script>
{% endblock extra_js %}
