{% extends "base.html" %}
{% load static packages_tags %}
{% block content %}
    <style>
    .input-box {
        max-width: 300px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        text-align: center;
        margin-top: 10px;
    }
    </style>
    <div class="row">
        <div class="col-md-3">
            <div id="errors-box" class="alert alert-danger" style="display: none;"></div>
            <div class="input-box">
                <input type="text"
                       name="rows"
                       id="rows-input-id"
                       class="form-control"
                       placeholder="How many rows?" />
                <input type="text"
                       name="columns"
                       id="cols-inout-id"
                       class="form-control"
                       placeholder="How many columns?" />
                <button class="btn btn-primary" id="render-box-btn">Generate a new box</button>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12">{% render_packages packages %}</div>
                <div class="col-md-12">
                    <h4 class="text-center">Your Box</h4>
                    <div>
                        <table class="table table-bordered">
                            <tbody id="main-box-board-id">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_js %}
    <script>
    $(document).ready(function() {

        let rowsNum = $("#rows-input-id").val()
        let colsNum = $("#cols-input-id").val()

        let payload = {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            cols: colsNum, 
            rows: rowsNum, 
            uuid: "",
        }

        $("#render-box-btn").click(function() {
            resetValidation()
            $.ajax({
                url: "{% url 'main:render-box' %}",
                method: "post",
                dataType: "json",
                data: payload,
                success: (data) => {
                    render_box(data.box_matrix)
                },
                error: (error) => {
                    renderValidations(error.responseJSON)
                },
            });
        })


        function render_box(box_matrix) {
            let $box_container = $("#main-box-board-id")
            $box_container.empty()
            for (row in box_matrix) {
                const rowElement = document.createElement('tr');
                for (col in box_matrix[row]){
                    const cellData = box_matrix[row][col][0];
                    const cellElement = document.createElement('td');
                    cellElement.textContent = cellData;
                    rowElement.append(cellElement);
                }
                $box_container.append(rowElement)
            }
            
        }


        function renderValidations(errors) {
            let $errorsBox = $("#errors-box")
            $errorsBox.css("display", "block")
            $errorsBox.empty()
            $errorsBox.text(errors.__all__[0])
        }

        function resetValidation() {
            let $errorsBox = $("#errors-box")
            $errorsBox.css("display", "none")
            $errorsBox.text("")
        }
    })

    </script>
{% endblock extra_js %}
