<style>
    .shape {
        width: 30px;
        height: 30px;
        display: inline-block;
        margin: 1px;
    }

    .solid {
        background-color: #FF0000;
    }

    .empty {
        background-color: #FFFFFF;
    }

    .package-card {
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

</style>
<div class="row">
    {% for package in packages %}
        <div class="col-md-2 col-sm-4 package-card m-2 d-flex flex-wrap justify-content-center align-items-center">
            {% for row in package.structure %}
                <div>
                    {% for col in row %}
                        <div class="shape {% if col == 1 %}solid{% else %}empty{% endif %}"></div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
