<!DOCTYPE html>
<html lang="en" style="background-color: #161B22; color: #ffffff">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}Alpha augmented test{% endblock %}
        </title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <header>
            <nav>
            </nav>
        </header>
        <main>
            <div class="container-fluid"
                 style="background-color: #161B22;
                        color: #ffffff">
                {% block content %}<!-- The content of individual pages will be inserted here -->{% endblock %}
            </div>
        </main>
        <footer>
        </footer>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        {% block extra_js %}
        {% endblock extra_js %}
    </body>
</html>
